    {% extends "templates/layout.html" %}

    {% block title %}
        <title>IF -CLASSROOM</title>
    {% endblock title %}

    {% block styles %}
        <link rel="stylesheet" href="../styles/homework-0.css">
        <link rel="stylesheet" href="../styles/painel.css">
    {% endblock styles %}
    
    {% block header %}
        <div id="header">
            <div class="head">
                <div id="logo">
                    <a href="">
                        <img src="../images/logo.png" alt="">
                    </a>
                </div>
                <div id="menu">
                    <a href=""><img src="../images/if.webp" alt=""> Home</a>
                    <a href=""><img src="../images/mega fone.png" alt=""> Extra Aula</a>
                    <a href=""><img src="../images/calendar.png" alt=""> Calendário</a>
                    <a href=""><img src="../images/boletim.png" alt=""> Boletim</a>
                </div>
                <div id="perfil">
                    <span id="nome" class="branco">{{user.user_name}}</span><span class="branco"> | </span><span id="turma"
                        class="branco">{{user.user_classroom}}</span>
                    <img src="../uploads/{{ user.user_image }}" alt="">
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block principal %}
        <div id="principal">

            <div id="botao">
                <a href="/tarefas"><button class="roxo">Tarefas</button></a>
                <a href="/videos"><button>Vídeos</button></a>
                <a href="/materias"><button>Matérias</button></a>
                <a href="/conceitos"><button>Conceitos</button></a>
            </div>
            <div id="quadrado">
                <div class="grid">
                    <div id="esquerda">
                        <div id="title">
                            <a href="/tarefas" class="voltar"><img src="../images/arrow.png" alt=""> <b>Voltar às
                                    Tarefas</b></a>

                            <h2 id="name-homework">{{ homework.title}}</h2>
                            <p id="subject-homework"> {{homework.subject_name }} - {{homework.name}} </p>
                        </div>
                        <div id="desc">
                            <h3 id="description-homework">
                                {{ homework.description }}
                            </h3>
                        </div>
                        <div class="grid">
                            <a href="">
                                <div class="archive"><img src="../images/mini-pdf.png" alt=""><b> {{ homework.archives }} </b></div>
                            </a>
                        </div>
                    </div>
                    <div id="direita">
                        <div id="date">
                            <p>Data de envio: {{homework.created_at}} <br>Data de entrega: {{homework.delivery_date}} </p>
                            <p>Situação: <span id="situation">Não entregue</span></p>
                        </div>
                        <div id="file">
                            <form action="/tarefas/{{ homework.homework_id }}" method="POST" enctype="multipart/form-data"">
                                <div id="borda">
                                    <label for="homework" class="send-archive">+ Adicionar Arquivo</label>
                                    <input id='homework' class="homework" name="homework" type='file' onchange="loadFile(event)">
                                </div>

                                <input type="submit" name="send-file" id="send-file" class="botao"
                                    value="Marcar como Concluído">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock principal %}

    {% block scripts%}
        <script>
            function loadFile(event) {
                var borda = document.querySelector('#borda')

                var span = document.createElement('span')
                span.setAttribute('class', 'send-archive')

                const file = event.target.files[0]

                span.append(file.name)

                borda.appendChild(span)

            }
        </script>
    {% endblock scripts%}
