    {% extends "templates/layout.html" %}
    

    {% block title %}
        <title>IF-Classroom</title>
    {% endblock title %}

    {% block styles %}
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/main.css">
    {% endblock styles %}

    {% block header %}
        <div id="area-cabecalho">
            <div id="area-logo">
                <a href="main.html"><img id="iflogo" src="../images/logo.png" alt=""></a>

            </div>
        </div>
        <div id="area-menu">
            <div class="botao-menu">
                <img src="../images/if.webp" alt=""><a href="">Home</a>
            </div>
            <div class="botao-menu">
                <img src="../images/mega fone.png" alt=""><a href="">Extra aula</a>
            </div>
            <div class="botao-menu">
                <img src="../images/calendar.png" alt=""><a href="">Calendário</a>
            </div>
            <div class="botao-menu">
                <img id="boletim" src="../images/boletim.png" alt=""><a href="">Boletim</a>
            </div>
        </div>
    {% endblock header %}

    {% block principal %}
        <div id="area-principal">
            <div id="area-login">
                <div id="form-login">
                    <form method="POST">
                        <label for="uname">Usuário</label>
                        <input type="text" name="name">
                        <label for="psw">Senha</label>
                        <input type="password" name="psw">
                        <div class="grid-button">
                            <div class="botao">
                                <button type="submit">Entrar</button>
                            </div>
                            <div class="log">
                                <a href=""><img src="../images/icon-facebook.png" alt=""><span> Login com
                                        Facebook</span></a><br>
                                <a href=""><img src="../images/icon-google.png" alt=""><span>Login com Google</span></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="baixo">
                    <p class="espaco">Não possui uma conta? <a href="register.html">Registre-se aqui!</a><br>
                        <a href="">Esqueci o usuário</a><br>
                        <a href="">Esqueci a senha</a>
                    </p>
                </div>
            </div>

            <div id="recent-post">
                <p>Atividades postadas recentemente</p>
                <div id="main-recent">
                    <div id="container-recent">
                        <div class="recent">
                            <div class="recent-title">titulo</div>
                            <div class="recent-description">descrição</div>
                        </div>
                        <div class="recent">
                            <div class="recent-title">titulo</div>
                            <div class="recent-description">descrição</div>
                        </div>
                        <div class="recent">
                            <div class="recent-title">titulo</div>
                            <div class="recent-description">descrição</div>
                        </div>
                        <div class="recent">
                            <div class="recent-title">titulo</div>
                            <div class="recent-description">descrição</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock principal %}
