    {% extends "templates/layout.html" %}

    {% block title %}
        <title>IF -CLASSROOM</title>
    {% endblock title %}

    {% block styles %}
    <link rel="stylesheet" href="../styles/note.css">
    <link rel="stylesheet" href="../styles/painel.css">
    {% endblock styles %}

    {% block header %}
        <div id="header">
            <div class="head">
                <div id="logo">
                    <a href="">
                        <img src="../images/logo.png" alt="">
                    </a>
                </div>
                <div id="menu">
                    <a href=""><img src="../images/if.webp" alt=""> Home</a>
                    <a href=""><img src="../images/mega fone.png" alt=""> Extra Aula</a>
                    <a href=""><img src="../images/calendar.png" alt=""> Calendário</a>
                    <a href=""><img src="../images/boletim.png" alt=""> Boletim</a>
                </div>
                <div id="perfil">
                    <span id="nome" class="branco">{{user.user_name}}</span><span class="branco"> | </span><span id="turma"
                        class="branco">{{user.user_classroom}}</span>
                    <img src="../uploads/{{ user.user_image }}" alt="">
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block principal %}
        <div id="principal">
            <div id="botao">
                <a href="/tarefas"><button>Tarefas</button></a>
                <a href="/videos"><button>Vídeos</button></a>
                <a href="/materias"><button>Matérias</button></a>
                <a href="/conceitos"><button class="roxo">Conceitos</button></a>
            </div>
            <div id="quadrado">
                <form class="select">
                    <p>Classificar por:</p>
                    <select name="filter" id="">
                        {% for subject in subjects %}
                            <option value="{{subject.subject_id}}"> {{subject.subject_name}} </option>
                        {% endfor %}
                    </select>

                    <button type="submit" id="filter">Filtrar</button>
                </form>
                <div class="scroll">
                    <div id="pdf-0" class="pdf">
                        <h2 id="bloco-0">Bloco I</h2>
                        <a href=""><img src="../images/icon-pdf.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock principal %}