    {% extends "templates/layout.html" %}

    {% block title %}
        <title>Registre-se</title>
    {% endblock title%}

    {% block styles %}
        <link rel="stylesheet" href="../styles/register.css">
        <link rel="stylesheet" href="../styles/partials/modal.css">
        <link rel="stylesheet" href="../styles/header.css">
    {% endblock styles %}


    {% block header %}
        <div id="area-cabecalho">
            <div id="area-logo">
                <a href="/"><img id="iflogo" src="../images/logo.png" alt=""></a>

            </div>
        </div>
        <div id="area-menu">
            <div class="botao-menu">
                <img src="../images/if.webp" alt=""><a href="/">Home</a>
            </div>
            <div class="botao-menu">
                <img src="../images/mega fone.png" alt=""><a href="">Extra aula</a>
            </div>
            <div class="botao-menu">
                <img src="../images/calendar.png" alt=""><a href="">Calendário</a>
            </div>
            <div class="botao-menu">
                <img id="boletim" src="../images/boletim.png" alt=""><a href="">Boletim</a>
            </div>
        </div>
    {% endblock header %}

    {% block principal %}
        <div id="area-principal">
            <form method="POST" enctype="multipart/form-data">
                <div id="area-register">
                    <div>
                        <label for="login">Usuário:</label>
                        <input type="text" name="login">

                        <label for="email">E-mail:</label>
                        <input type="text" name="email" id="email">

                        <label for="password">Senha</label>
                        <input type="password" name="password">

                        <label for="senhaC">Confirme sua senha:</label>
                        <input type="password" name="senhaC">
                    </div>
                    <div id="foto-register">
                        <span>Adicionar foto de perfil:</span>
                        <label for="image">
                            <img id="image-user" src="../images/registerfoto.png" alt="">
                        </label>
                        <input type="file" id="image" name="image" onchange="loadFile(event)" >
                    </div>
                    <div>
                        <label for="name">Nome Completo:</label>
                        <input type="text" name="name">

                        <label for="">Numero de R.A:</label>
                        <input type="text" name="ra">

                        <label for="class">Selecione sua turma:</label>

                        <select name="classroom_id" id="class">
                            <option selected disabled id="fake">Selecione sua turma</option>

                            {% for classroom in classrooms %}
                                <option value="{{ classroom.classroom_id}}">{{classroom.classroom_name}}</option>
                            {% endfor %}

                        </select>

                        <div id="date-button">
                            <div>
                                <label for="birthday">Data de nascimento</label><br>
                                <input type="date" id="date" name="birthday"><br>
                            </div>
                            <button type="submit" id="submit">Registrar</button>
                        </div>
                    </div>
                </div>
            </form>

            {% if register %}
                <div id="modal">
                    <div id="content">
                        <img src="../images/check.png">
                        <h1>Cadastro Concluído</h1>
                    </div>
                </div>       
            {% endif %}

        </div>
    {% endblock principal %}

    {% block scripts%}
        <script>
            function loadFile(event){
                var reader = new FileReader()
                reader.onload = () => {
                    var image = document.getElementById('image-user')
                    image.src = reader.result
                }
                reader.readAsDataURL(event.target.files[0])
            }

        </script>
    {% endblock scripts %}
