    {% extends "templates/layout.html" %}

    {% block title %}
        <title>IF -CLASSROOM</title>
    {% endblock title %}

    {% block styles %}
    <link rel="stylesheet" href="../styles/subjects.css">
    <link rel="stylesheet" href="../styles/painel.css">
    {% endblock styles %}

    {% block header %}
        <div id="header">
            <div class="head">
                <div id="logo">
                    <a href="">
                        <img src="../images/logo.png" alt="">
                    </a>
                </div>
                <div id="menu">
                    <a href=""><img src="../images/if.webp" alt=""> Home</a>
                    <a href=""><img src="../images/mega fone.png" alt=""> Extra Aula</a>
                    <a href=""><img src="../images/calendar.png" alt=""> Calendário</a>
                    <a href=""><img src="../images/boletim.png" alt=""> Boletim</a>
                </div>
                <div id="perfil">
                    <span id="nome" class="branco">Gustavo Borges </span>|<span class="branco"></span><span class="branco"
                        id="turma"> 4° Mecatrônica </span>
                    <img src="../images/registerfoto.png" alt="">
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block principal %}
        <div id="principal">
            <div id="botao">
                <a href="/tarefas"><button>Tarefas</button></a>
                <a href="/videos"><button>Vídeos</button></a>
                <a href="/materias"><button class="roxo">Matérias</button></a>
                <a href="/conceitos"><button>Conceitos</button></a>
            </div>
            <div id="quadrado">
                <div class="select">
                    <p>Classificar por:</p>
                    <select name="" id="">
                        <option value="">Matemática</option>
                        <option value="">Português</option>
                        <option value="">Geografia</option>
                        <option value="">Ciências</option>
                    </select>
                </div>
                <div class="scroll">
                    <div id="linha-0" class="linha">
                        <div class="conteudo">
                            <div id="content" class="content">
                                <div>
                                    <h3 id="homework-title-0" class="homework-title">Robotica e sistemas embarcados</h3>
                                    <h4 id="homework-dec-0" class="homework-desc">3° Trimestre - binarios e hexadecimais
                                    </h4>
                                </div>
                                <h4 id="description-0" class="description">Atividades...</h4>
                                <div id="homework-quant-0" class="homework-quant">
                                    03 Materias em anexo
                                </div>
                            </div>
                            <div id="date-0" class="date">
                                <b>
                                    <p id="send-date-0">Data de envio: 01/03/2020</p>
                                    <p id="delivery-date-0">Data de entrega: 10/03/2020</p>
                                    Situação: <span id="situation-0" class="situation">Não entregue</span>
                                </b>
                            </div>
                        </div>
                        <a href="">
                            <div id="video-0" class="video">
                                <div class="text-video">
                                    <b>
                                        <p id="date-video">03/04/2021 - 19:30</p>
                                        <p id="title-video">Aula Polinomios e Equacoes...</p>
                                    </b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="linha-0" class="linha">
                        <div class="conteudo">
                            <div id="content" class="content">
                                <div>
                                    <h3 id="homework-title-0" class="homework-title">Robotica e sistemas embarcados</h3>
                                    <h4 id="homework-dec-0" class="homework-desc">3° Trimestre - binarios e hexadecimais
                                    </h4>
                                </div>
                                <h4 id="description-0" class="description">Atividades...</h4>
                                <div id="homework-quant-0" class="homework-quant">
                                    03 Materias em anexo
                                </div>
                            </div>
                            <div id="date-0" class="date">
                                <b>
                                    <p id="send-date-0">Data de envio: 01/03/2020</p>
                                    <p id="delivery-date-0">Data de entrega: 10/03/2020</p>
                                    Situação: <span id="situation-0" class="situation">Não entregue</span>
                                </b>
                            </div>
                        </div>
                        <a href="">
                            <div id="video-0" class="video">
                                <div class="text-video">
                                    <b>
                                        <p id="date-video">03/04/2021 - 19:30</p>
                                        <p id="title-video">Aula Polinomios e Equacoes...</p>
                                    </b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="linha-0" class="linha">
                        <div class="conteudo">
                            <div id="content" class="content">
                                <div>
                                    <h3 id="homework-title-0" class="homework-title">Robotica e sistemas embarcados</h3>
                                    <h4 id="homework-dec-0" class="homework-desc">3° Trimestre - binarios e hexadecimais
                                    </h4>
                                </div>
                                <h4 id="description-0" class="description">Atividades...</h4>
                                <div id="homework-quant-0" class="homework-quant">
                                    03 Materias em anexo
                                </div>
                            </div>
                            <div id="date-0" class="date">
                                <b>
                                    <p id="send-date-0">Data de envio: 01/03/2020</p>
                                    <p id="delivery-date-0">Data de entrega: 10/03/2020</p>
                                    Situação: <span id="situation-0" class="situation">Não entregue</span>
                                </b>
                            </div>
                        </div>
                        <a href="">
                            <div id="video-0" class="video">
                                <div class="text-video">
                                    <b>
                                        <p id="date-video">03/04/2021 - 19:30</p>
                                        <p id="title-video">Aula Polinomios e Equacoes...</p>
                                    </b>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="linha-0" class="linha">
                        <div class="conteudo">
                            <div id="content" class="content">
                                <div>
                                    <h3 id="homework-title-0" class="homework-title">Robotica e sistemas embarcados</h3>
                                    <h4 id="homework-dec-0" class="homework-desc">3° Trimestre - binarios e hexadecimais
                                    </h4>
                                </div>
                                <h4 id="description-0" class="description">Atividades...</h4>
                                <div id="homework-quant-0" class="homework-quant">
                                    03 Materias em anexo
                                </div>
                            </div>
                            <div id="date-0" class="date">
                                <b>
                                    <p id="send-date-0">Data de envio: 01/03/2020</p>
                                    <p id="delivery-date-0">Data de entrega: 10/03/2020</p>
                                    Situação: <span id="situation-0" class="situation">Não entregue</span>
                                </b>
                            </div>
                        </div>
                        <a href="">
                            <div id="video-0" class="video">
                                <div class="text-video">
                                    <b>
                                        <p id="date-video">03/04/2021 - 19:30</p>
                                        <p id="title-video">Aula Polinomios e Equacoes...</p>
                                    </b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock principal %}