<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IF -CLASSROOM</title>
    <link rel="stylesheet" href="../styles/videos.css">
    <link rel="stylesheet" href="../styles/painel.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div class="head">
            <div id="logo">
                <a href="">
                    <img src="../images/logo.png" alt="">
                </a>
            </div>
            <div id="menu">
                <a href=""><img src="../images/if.webp" alt=""> Home</a>
                <a href=""><img src="../images/mega fone.png" alt=""> Extra Aula</a>
                <a href=""><img src="../images/calendar.png" alt=""> Calendário</a>
                <a href=""><img src="../images/boletim.png" alt=""> Boletim</a>
            </div>
            <div id="perfil">
                <span id="nome" class="branco">Gustavo Borges </span>|<span class="branco"></span><span class="branco" id="turma"> 4° Mecatrônica </span>
                <img src="../images/registerfoto.png" alt="">
            </div>
        </div>
    </div>
    <div id="principal">
        <div id="botao">
            <a href="homework.html"><button>Tarefas</button></a>
            <a href="videos.html"><button class="roxo">Vídeos</button></a>
            <a href="subjects.html"><button>Matérias</button></a>
            <a href="note.html"><button>Conceitos</button></a>
        </div>
        <div id="quadrado">
            <div class="select">
                <p>Classificar por:</p>
                <select name="" id="">
                    <option value="">Recentes</option>
                    <option value="">Mais Antigos</option>
                </select>
                <div class="scroll">
                    <div id="videos">
                        <a href="">
                            <div id="video" class="video">
                                <div class="text-video">
                                    <b>
                                        <p id="date-video">03/04/2021 - 19:30</p>
                                        <p id="title-video">Aula Polinomios e Equacoes...</p>
                                    </b>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div id="video" class="video">
                                <div class="text-video">
                                    <b>
                                        <p id="date-video">03/04/2021 - 19:30</p>
                                        <p id="title-video">Aula Polinomios e Equacoes...</p>
                                    </b>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div id="video" class="video">
                                <div class="text-video">
                                    <b>
                                        <p id="date-video">03/04/2021 - 19:30</p>
                                        <p id="title-video">Aula Polinomios e Equacoes...</p>
                                    </b>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div id="video" class="video">
                                <div class="text-video">
                                    <b>
                                        <p id="date-video">03/04/2021 - 19:30</p>
                                        <p id="title-video">Aula Polinomios e Equacoes...</p>
                                    </b>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div id="video" class="video">
                                <div class="text-video">
                                    <b>
                                        <p id="date-video">03/04/2021 - 19:30</p>
                                        <p id="title-video">Aula Polinomios e Equacoes...</p>
                                    </b>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div id="video" class="video">
                                <div class="text-video">
                                    <b>
                                        <p id="date-video">03/04/2021 - 19:30</p>
                                        <p id="title-video">Aula Polinomios e Equacoes...</p>
                                    </b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>