<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IF -CLASSROOM</title>
    <link rel="stylesheet" href="../styles/homework.css">
    <link rel="stylesheet" href="../styles/painel.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div class="head">
            <div id="logo">
                <a href="">
                    <img src="../images/logo.png" alt="">
                </a>
            </div>
            <div id="menu">
                <a href=""><img src="../images/if.webp" alt=""> Home</a>
                <a href=""><img src="../images/mega fone.png" alt=""> Extra Aula</a>
                <a href=""><img src="../images/calendar.png" alt=""> Calendário</a>
                <a href=""><img src="../images/boletim.png" alt=""> Boletim</a>
            </div>
            <div id="perfil">
                <span id="nome" class="branco">Gustavo Borges </span>|<span class="branco"></span><span class="branco" id="turma"> 4° Mecatrônica </span>
                <img src="../images/registerfoto.png" alt="">
            </div>
        </div>
    </div>
    
</body>
</html>